@import url(reset.css);
* {
	box-sizing: border-box;

}
body{
	font-family: Helvetica, sans-serif;
    font-size: 20px;
}
.header, .footer{
	width: 1440px;
	height: 60px;
	background-color: #FE1A19;
	color: white;
	
    font-weight: bold;
    line-height: 23px;
    padding-left: 20px;
    padding-top: 20px;
   

}
.main{
	width: 1440px;
	
}
.column{
	display: inline-block;
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	border-radius: 30px;
}
.column.first{
	display: inline-block;
	margin: 112px 50px 112px 70px;
}
.column.second{
	display: inline-block;
	margin: 112px 50px 112px 0px;
	
}
.column.third{
	display:  inline-block;
	margin: 112px 0px;
	
}
	
h1{
	
	padding: 33px 160px 41px 33px ;
}
ul{
	font-family: Times New Roman;
    font-size: 20px;
    line-height: 23px;
    padding: 0px 33px 33px 33px;
}
