* {
	margin:0;
	padding: 0;
	box-sizing: border-box;

}
@font-face{
	src: url(../fonts/Helvetica CE Regular.ttf);
	font-family: "Helvetica";
	font-weight: normal;
}

@font-face{
	src: url(../fonts/TNR.ttf);
	font-family: "Times New Roman";
	font-weight: normal;
}
html{
	font-size: 10px;
}
body {
	font-family: Helvetica, sans-serif;
    font-size: 2rem;
}
.wrapper {
	width: 144rem;
}
.header, .footer{
	height: 6rem;
	background-color: #FE1A19;
	color: white;
	
    font-weight: bold;
    line-height: 2.3rem;
    padding-left: 2rem;
    padding-top: 2rem;
   

}
img{
	position: absolute;
	left: 133rem;
	height: 2rem;
}
.main{
	margin: 11.2rem 0;
	text-align: center;
}
.column{
	display: inline-block;
	width: 40rem;
	height: 80rem;
	border: 5px solid #E5E000;
	border-radius: 3rem;
	text-align: left;
	padding: 3.3rem;


}
.column.first{
	display: inline-block;
	
}
.column.second{
	display: inline-block;
	margin:0 5rem;
	
}
.column.third{
	display:  inline-block;

	
}
.column h1{
	font-weight: bold;
	font-size: 2rem;
}
.column h2 {
	 margin-top: 3.5rem;
	 font-weight: normal;
	 font-size: 2rem;
}
ul{
	font-family: Times New Roman;
    font-size: 2rem;
    line-height: 2.3rem;
   
 }
 li{
 	list-style-type: none;
 }
