* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font:inherit;
}
@font-face{
	src: url(../fonts/Helvetica.ttf);
	font-family: "Helvetica";
	font-weight: normal;
}
html {
	font-size: 62.5%;
}
body{
	font-family: Helvetica;
}
.wrapper{
		width: 100vw;
}
.header , .footer {
	height: 9.76vh;
	background-color: blue;
	font-size: 1.73vw;
	color: white;

	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1{
	margin-left: 2.08vw;
}
.back {
	text-decoration: none;
	color: white;
	margin-right: 2.08vw;
}
.main{
	padding: 9.76vh 6.94vw;
	display: flex;
	flex-direction: column;
}

.block{
	border: 5px solid #000000;
	width: calc((100vw - 16.66vw)/2);
	font-size: 3.47vw;
	line-height: 3.95vw;
	text-align: center;
	display: flex;
	align-items: center;
}
.layer{
	display: flex;
	flex-direction: row;
}
.layer.first{
	margin-bottom: 2rem;
}
.two, .four{
	margin-left: 2rem; 
}
h2{
	margin:9.76vh 0;
}
@media screen and (max-width: 400px){

	a, h1, h2 {
		font-size: 6.66vw;
        line-height: 7.73vw;
    }
	.layer{
		flex-direction: column;
	}
	h2, .layer.first{
		margin: 0;
		align-self: center;
	}
	.block{
		width: 88vw;
		margin: auto;
		justify-content: center;
		font-weight: bold;
		padding: 5.37vh 1vw;

	}
	.two, .three, .four{
		margin-top: 4vh;
	}
}
